body {
    font-family: 'Open Sans', sans-serif;
    background-color: #3C67B0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.title{
    font-size: 7rem;
    color: #FFF;
    text-align: center;
}